ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 34px;
    line-height: 34px;
    background-color: rgb(44, 41, 41);
    font-family: sans-serif;
    font-size: 13px;
}

li {
    float: left;
    
}

a {
    display: block;
    padding: 0 15px;
    color:white;
    text-decoration: none;
}

a:hover {
    background-color:#058455;
}

.active a {
    background-color: #04AA6D;
}

.about {
    float: right;
}
